html {
  font-size: 125%;
}

body {
  background-color: var(--body-background-color);
  font-family: var(--font-stack);
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  transition: background-color var(--transition-duration) var(--transition-ease);
}

h1 {
  line-height: 1;
  font-weight: 500;
  margin: 0;
}

p {
  line-height: 1;
  margin: 0;
}